.form-col{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .account-forms{
        border: 1px solid black;
        padding: 1rem;

        h1{
            margin: 0 0 2rem 0;
        }
    }
}
