/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container{
  flex-grow: 1;
}

.box-shadow{
  border: 1px solid #dee2e6;
  box-shadow: 0 0rem 0.75rem rgba(0, 0, 0, .1);       
}