footer{
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
    border-top: 1px solid #dee2e6;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    text-align: center;
    padding: 2rem;
    background-color: white;
    .social-links{
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        li{
            &:nth-child(2){
                margin: 0 4rem;
            }
            a{
                color: black;
                &:hover{                
                    text-decoration: underline;
                }
            }
        }
    }
    div{
        p{
            margin-bottom:0;
        }
    }
}